@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* Reset básico */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Barra de navegação transparente com borda inferior */
.navbar {
  background-color: transparent !important;
  border-bottom: 1px solid hsla(0, 0%, 90%, 0.849);
}

/* Remove o padding padrão da marca da navbar */
.navbar-brand {
  padding: 0;
}

/* Define tamanho do logo na navbar */
.navbar-logo {
  height: 4rem;
  width: auto;
}

/* Espaçamento inferior nos itens da navbar */
.nav-item {
  padding-bottom: 0.2rem;
}

.main {
  display: flex;
  width: 226px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 170px 400px;
}

.passeios {
  color: hsl(0, 0%, 44%);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.2px;
}

.h1-passeios {
  color: hsl(0, 0%, 67%);
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.link-sem-underline {
  text-decoration: none;
}

.p-passeios {
  color: hsl(0, 0%, 44%);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  border: 1px solid #000;
  padding: 10px;
}

.primeiro-video {
  width: 720px;
  height: 1280px;
  flex-shrink: 0;
  aspect-ratio: 9/16;
  border-radius: 27px;
  margin-top: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 40px 0;
  height: auto;
}

.segundo-video {
  width: 657px;
  height: 1168px;
  flex-shrink: 0;
  aspect-ratio: 9/16;
  border-radius: 27px;
}

.conteudo-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-left: 20px;
}

.coluna-lancha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coluna-video-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.experiencia-texto {
  color: hsl(0, 0%, 67%);
  font-family: Montserrat;
  font-size: 62.875px;
  font-style: normal;
  font-weight: 900;
  line-height: 75.45px;
  letter-spacing: 1.383px;
  text-transform: uppercase;
}

.section-perguntas {
  background: hsl(210, 40%, 98%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-titulo {
  color: hsl(0, 0%, 10%);
  text-align: center;
  font-family: Verdana;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.5px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.pergunta {
  border-radius: 16px;
  background: hsl(0, 0%, 100%);
  box-shadow: 0px 8px 30px 0px hsla(0, 0%, 0%, 0.05);
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.pergunta-pergunta {
  color: #1a1a1a;
  font-family: Verdana;
  font-size: 17.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.64px;
  border-bottom: 1px solid hsl(214, 32%, 91%);
  padding: 20px;
  margin-bottom: 0;
}

.resposta-pergunta {
  width: 100%;
  color: hsl(0, 0%, 10%);
  font-family: Verdana;
  font-size: 14.2px;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  line-height: 24.64px;
  border-bottom: 1px solid hsl(214, 32%, 91%);
  padding: 20px;
}

.pergunta-pergunta a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

.footer {
  background-color: hsl(0, 0%, 0%);
  padding: 20px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px 0 60px;
}

.direitos-footer {
  color: hsl(0, 0%, 44%);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.1px;
  text-align: center;
  padding: 20px 0 10px 0;
  margin: 0;
  background: #000;
}

.lista-footer {
  padding: 50px;
  margin: 0;
}

.lista-item-footer {
  color: hsl(0, 0%, 67%);
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  list-style: none;
  margin: 20px;
}

.lista-item-footer :hover {
  color: hsl(0, 0%, 87%);
}

.lista-item-footer a {
  text-decoration: none;
  color: hsl(0, 0%, 67%);
  list-style: none;
}

.encontrar-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}

.encontrar-titulo-footer {
  color: hsl(0, 0%, 100%);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.1px;
}

.encontrar-item-footer {
  color: hsl(0, 0%, 100%);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.1px;
}

.encontrar-item-footer > a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.encontrar-item-footer > a:hover {
  text-decoration: underline;
}

.imagem-footer {
  align-self: flex-end;
  max-width: 180px;
}

.direitos-footer {
  color: hsl(0, 0%, 44%);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.1px;
}

@media (max-width: 1470px) {
  .conteudo-flex {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-left: 0;
  }
  .primeiro-video,
  .segundo-video {
    width: 90vw;
    height: auto;
    max-width: 500px;
  }
  .main {
    margin: 40px 0;
  }
  .h1-passeios,
  .experiencia-texto {
    font-size: 36px;
    text-align: center;
  }
  .footer-main {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 30px 10px 0 10px;
  }
  .lista-footer,
  .encontrar-footer {
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  .imagem-footer {
    margin-top: 20px;
    max-width: 120px;
  }
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .logo {
    width: 100px;
    height: auto;
    margin: 10px 0;
  }
  .nacionalidades {
    margin: 10px 0;
    gap: 10px;
  }
  .main {
    margin: 20px 0;
  }
  .h1-passeios,
  .experiencia-texto {
    font-size: 24px;
  }
  .section-titulo {
    font-size: 24px;
  }
  .footer-main {
    padding: 20px 0 0 0;
  }
  .direitos-footer {
    font-size: 12px;
    padding: 10px 0 5px 0;
  }
}

@media (max-width: 1024px) {
  .conteudo-flex {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-left: 0;
  }
  .primeiro-video,
  .segundo-video {
    width: 90vw;
    height: auto;
    max-width: 500px;
  }
  .main {
    margin: 40px 0;
  }
  .h1-passeios,
  .experiencia-texto {
    font-size: 36px;
    text-align: center;
  }
  .footer-main {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 30px 10px 0 10px;
  }
  .lista-footer,
  .encontrar-footer {
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  .imagem-footer {
    margin-top: 20px;
    max-width: 120px;
  }
}

@media (max-width: 800px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .logo,
  .nacionalidades {
    display: none;
  }
  .main {
    margin: 20px 0;
  }
  .h1-passeios,
  .experiencia-texto {
    font-size: 24px;
  }
  .section-titulo {
    font-size: 24px;
  }
  .footer-main {
    padding: 20px 0 0 0;
  }
  .direitos-footer {
    font-size: 12px;
    padding: 10px 0 5px 0;
  }
}
